/* Regole generali */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Roma */

#container{
  background-image: url(../img/Roma.jpg);
  border-radius: 20px;
  background-size: cover;
  height: 100vh;
  position: relative;
  margin: 10px;

}

#layover{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:700;
}

#titolo{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
  z-index:750;

}

#titolo h1:hover{
  color: red;
}


/* Russia */
#container1{
  background-image: url(../img/Russia.jpg);
  background-size: cover;
  border-radius: 20px;
  height: 100vh;
  position: relative;
  margin: 10px;

}

#layover1{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:700;
}

#titolo1{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
  z-index:750;

}

#titolo1 h1:hover{
  color: red;
}




/* Tokyo */
#container2{
  background-image: url(../img/Tokyo.jfif);
  border-radius: 20px;
  background-size: cover;
  height: 100vh;
  position: relative;
  margin: 10px;

}

#layover2{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:700;
}


#titolo2{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
  z-index:750;
}

#titolo2 h1:hover{
  color: red;
}
